
/* ################################### */
/* ######### GENERAL STYLING ######### */
/* ################################### */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');

body {
  height: auto;
  font-family: 'Shippori Mincho B1', serif;
}
body::before {
  content: '';
  background: url("bg10.jpg");
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}
.main-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
/* .footer-div {
  position:relative;
} */


/* ############################### */
/* ######### NAV STYLING ######### */
/* ############################### */

.mobile-nav {
  display: none;
}

nav {
  min-width: 800px;
  width: 70vw;
  max-width: 1200px;
  height: 80px;
  padding: 0 25px;
  border-radius: 50px;
  background-color: white;
  margin: auto;
  transform: translateY(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.nav-link, .homeLink {
  transform: translateY(-3px);
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  padding: 0 5px;
  color: black;
  font-weight: 500;
  position: relative;
  list-style: none;
}

.nav-link::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
.homeLink::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: black;
  transform: scaleX(1);
}
.nav-link:hover::after {
  transform: scaleX(1);
}
.homeLink {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.4em;
  text-align: center;
}


/* ############################### */
/* ######### HOME STYLING ######## */
/* ############################### */

.homeContent {
  position: absolute;
  left: 50%;
  top: 34%;
  text-align: center;
  transform: translateX(-50%);
}
.homeImg {
  width: 250px;
  border-radius: 250px;
}
h1 {
  font-size: 3em;
  font-weight: 800;
  color: black;
}
.mainHomeLink {
  display: inline-block;
  border: solid 1px black;
  background-color: white;
  border-radius: 5px;
  font-size: 2em;
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0px 13px 9px 13px;
  margin-top: 25px;
  width: 100%;
  transition: all 0.2s ease;
}
.main-github-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.main-github-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scaleX(0);
  transition: all 0.2s ease;
}
.main-github-link:hover::after {
  transform: scaleX(1);
}

/*#5E7D5B*/

.mainHomeLink:hover, .mainHomeLink:focus {
  background-color: white;
  border: solid 1px black;
  border-left: solid 25px black;
  border-right: solid 25px black;
  color: black;
  width: 100%;
}


/* ############################### */
/* ######## ABOUT STYLING ######## */
/* ############################### */

.aboutContent {
  width: 100vw;
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 23%;
  text-align: center;
  transform: translateX(-50%);
}
.aboutContent h1 {
  color: black;
}
.about-text {
  background-color: rgba(255,255,255,1);
  margin: 35px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 2em;
  text-align: left;
  padding: 20px;
  border-left: solid 2px black;
}


/* ############################### */
/* ####### PROJECT STYLING ####### */
/* ############################### */

.project-content {
  display: flex;
  padding: 60px 30px 100px 30px;
  height: auto;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin: auto;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: auto;
  height: 450px;
  background-color: rgba(255,255,255,1);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.10);
  backface-visibility: hidden;
  transition: all 0.3s ease;
}
.project:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

}
.project-name {
  font-weight: 800;
  font-size: 1.5em;
  
  border-bottom: solid 1px black;
}
.project-text {
  font-size: 20px;
  padding: 0 10px;
  margin: 20px 0px;
  text-align: left;
}
.project h3 {
  color: red;
}
.project-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
}
.project a {
  text-decoration: none;
  position: relative;
  width: auto;
  font-size: 18px;
  font-weight: 800;
  color: black;
  margin-top: 10px;
}






/* ################################### */
/* ######### SMALLER STYLING ######### */
/* ################################### */


@media only screen and (max-width: 1100px) {

/* ################################### */
/* ######### GENERAL STYLING ######### */
/* ################################### */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');


body {
  height: 87vh;
  font-family: 'Shippori Mincho B1', serif;
  background-color: rgb(202, 201, 255);
  color: white;
  overflow: hidden;
}
body::before {
  content: '';
  background: url("bg-mobile.jpg");
  background-size: 65vh;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
}
.main-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 87vh;
  text-align: center;
  position: relative;
  overflow-y: scroll;
}
.main-container::-webkit-scrollbar { 
  display: none;
}



/* ############################### */
/* ######### NAV STYLING ######### */
/* ############################### */

.mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  transform: none;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid 1px white;
  min-width: 0px;
  z-index: 10;
  width: 100vw;
  height: 40px;
}
.mobile-links {
  margin-top: 00px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav {
  min-width: 800px;
  width: 70vw;
  max-width: 1200px;
  height: 150px;
  margin: auto;
  display: none;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}
.nav-link, .homeLink {
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: relative;
  list-style: none;
}

.nav-link::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
.nav-link:hover::after {
  transform: scaleX(0);
}
.homeLink {
  transform: translateY(-3px);
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(255, 255, 255);
  font-weight: 800;
  font-size: 1em;
  text-align: center;
}
.homeLink::after {
  display: none;
}


/* ############################### */
/* ######### HOME STYLING ######## */
/* ############################### */

.homeContent {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 25%;
  text-align: center;
  transform: translateX(-50%);
}
.homeImg {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
h1 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  text-shadow: none;
  color: white;
}
.mainHomeLink {
  display: inline-block;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0px 13px 9px 13px;
  margin-top: 25px;
  width: 100%;
  transition: all 0.2s ease;
}
.main-github-link {
  text-decoration: none;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  background-color: rgba(255,255,255,0);
  backdrop-filter: blur(0px);
  width: 100%;
  height: 25px;
  border-top: solid 1px rgb(255, 255, 255);
  bottom: 0px;
  left: 50%;
  z-index: 10;
  box-shadow: none;
  transform: translateX(-50%);
}
.main-github-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scaleX(0);
  transition: all 0.2s ease;
}
.main-github-link:hover::after {
  transform: scaleX(0);
}

/*#5E7D5B*/

.mainHomeLink:hover, .mainHomeLink:focus {
  background-color: white;
  border: solid 1px black;
  border-left: solid 25px black;
  border-right: solid 25px black;
  color: black;
  width: 100%;
}


/* ############################### */
/* ######## ABOUT STYLING ######## */
/* ############################### */

.aboutContent {
  position: absolute;
  top: 40px;
  left: 0;
  transform: none;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutContent h1 {
  display: none;
}

.about-text {
  color: rgb(58, 58, 58);
  margin: 2.5vw;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2em;
  text-align: left;
  padding: 7px 15px;
  border-radius: 0px;
  border-left: none;
  border: solid 1px white;
  background: white;
  backdrop-filter: blur(10px);
}
.about-text a {
  color: rgb(18, 142, 209);
  text-decoration: none;
}


/* ############################### */
/* ####### PROJECT STYLING ####### */
/* ############################### */

.project-content {
  height: auto;
  width: 100vw;
  padding: 2.5vw;
  margin: calc(40px + 1.5em) 0px 75px 0px;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects-list {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 95vw;
  height: auto;
  background-color: rgba(255,255,255,1);
  border: none;
  backdrop-filter: blur(2px);
  border-radius: 0px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.05);
  backface-visibility: hidden;
  transition: all 0.2s ease;
}
.project-img {
  width: 300px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project:hover {
  transform: none;
  backdrop-filter: blur(2px);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.05);
}
.project-name {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(52, 52, 52);
  border-bottom: solid 1px rgb(218, 144, 186);
}
.project-text {
  font-size: 0.8em;
  padding: 0px 15px;
  margin-bottom: 60px;
  margin-top: 30px;
  color: rgb(0, 136, 200);
}
.project h3 {
  font-size: 0.8em;
}
.project-links {
  display: flex;
  /* border-top: solid 1px black; */
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5px;
  color: rgb(132, 89, 114);
}
.project a {
  text-decoration: none;
  position: relative;
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(132, 89, 114);
  margin-top: 0px;
}
.project a::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
.project a:hover::after {
  transform: scaleX(0);
}
}